@model DotNetCoreIdentity.Mvc.ViewModels.RegisterViewModel

<h2>注册</h2>

<form asp-action="Register" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" placeholder="请输入你的学号" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="请输入你的姓名" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="请输入你的邮箱" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="请输入你的手机" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="请输入你的密码" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="请确认你的密码" />
    </div>
    <div>
        <input type="submit" value="注册" />
    </div>

    <div asp-validation-summary="All"></div>
</form>